<!-- Start About Us Section -->
<div class="section-modal" id="about-modal" tabindex="-1" role="dialog" aria-hidden="true" *ngIf="course">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal" routerLink="">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="section-title text-center">
                    <h3>{{course.Name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="about-text">
                        <p>{{course.Description}}</p>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><i class="fa fa-user"></i> Author : {{course.Teacher.Name}}</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><i class="fa fa-star"></i> Rate: {{course.Rate}}</li>
                                </ul>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <ul>
                                    <li><i class="fa fa-credit-card"></i>Price: ${{course.Price}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <img src="{{host}}content/images/{{course.Photo}}" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <div class="custom-tab">

                        <ul class="nav nav-tabs nav-justified" role="tablist">
                            <li class="active"><a href="#tab-1" role="tab" data-toggle="tab">Message</a></li>
                            <li><a href="#tab-2" role="tab" data-toggle="tab">Appointments</a></li>
                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active" id="tab-1">
                                <form name="sentMessage" id="contactForm" novalidate>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-lg-12 text-center">
                                            <div id="success"></div>
                                            <button type="submit" class="btn btn-primary">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                            <div class="tab-pane" id="tab-2" *ngIf="appointment">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="date" class="form-control" [(ngModel)]="appointment.Datetime">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <button (click)="createAppointment()" type="submit" class="btn btn-primary">Create appointment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End About Us Section -->