<!-- Start Logo Section -->
<section id="logo-section" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="logo text-center">
                    <h1>LiveLessons</h1>
                    <span (click)="signOut()" class="pointer">Sign Out</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Logo Section -->


<!-- Start Main Body Section -->
<div class="mainbody-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="menu-item blue">
                    <a routerLink="courses" data-toggle="modal">
                        <i class="fa fa-mortar-board"></i>
                        <p>Courses</p>
                    </a>
                </div>
                <div class="menu-item green">
                    <a routerLink="appointments" data-toggle="modal">
                        <i class="fa fa fa-user"></i>
                        <p>Appointments</p>
                    </a>
                </div>
            </div>

            <div class="col-md-6">

                <!-- Start Carousel Section -->
                <div class="home-slider">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="padding-bottom: 30px;">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="images/main-4.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="images/main-3.jpg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="images/main-2.jpeg" class="img-responsive" alt="">
                            </div>
                            <div class="item">
                                <img src="images/main-1.jpg" class="img-responsive" alt="">
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-3">

                <div class="menu-item light-red" routerLink="conversations">
                    <a href="#contact-modal" data-toggle="modal">
                        <i class="fa fa-envelope-o"></i>
                        <p>Conversations</p>
                    </a>
                </div>

                <div class="menu-item color">
                    <a routerLink="/courses/my" data-toggle="modal">
                        <i class="fa fa fa-area-chart"></i>
                        <p>Profile</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Body Section -->

<!-- Start Copyright Section -->
<div class="copyright text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>Design & Developed by <a href="https://vk.com/alexbudyansk" target="_blank">Alexey Budyanskiy</a></div>
            </div>
        </div>
    </div>
</div>